<?xml version='1.0' encoding='utf-8'?>
<widget id="com.marianhello.bgexampleapp" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BG Example</name>
    <description>
        A minimal example of Cordova BackgroundGeolocation plugin.
    </description>
    <author>
        mauron85
    </author>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="2.2.0-alpha.1">
        <!-- <variable name="ALWAYS_USAGE_DESCRIPTION" value="Background tracking is required" /> -->
    </plugin>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <content src="index.android.html" />
        <allow-intent href="market:*" />
        <hook type="after_prepare" src="scripts/res_android.js"/>
    </platform>
    <platform name="ios">
        <content src="index.ios.html" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook type="after_prepare" src="scripts/res_ios.js"/>
    </platform>
</widget>
